*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
  font-size: clamp(12px, 2vw, 16px);
}

body {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*font-size: 2rem;*/
  line-height: 1.7;
  color: #777;


}

/*------------------------------ HOME PAGE css -------------------------------*/

.css-19kzrtu {
  padding: 0 !important;
}

.mdl-layout__header-row .mdl-navigation__link {
  line-height: 36px !important;
}

.header-color {
  background: transparent !important;
  background-color: #000;
  background-image: linear-gradient(to left, rgba(198, 66, 110, 0.7), rgba(221, 214, 243, 0.7)), url(images/white-ceramic-cup-on-saucer-near-gold-colored-analog-watch-1251086.jpg);
}

/* .header-color #resume-page {
  background-image: linear-gradient(to left, rgba(198, 66, 110, 0.7), rgba(221,214,243, 0.7)), url(images/white-ceramic-cup-on-saucer-near-gold-colored-analog-watch-1251086.jpg)!important;
} */

.header-text {
  text-decoration: none !important;
  color: #fff !important;
}

.mdl-navigation a {
  text-decoration: none;
  color: black;
}

.header-links:hover {
  position: relative;
}

.header-links:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  /* Change color as needed */
  animation: underlineExpand 0.2s ease-out;
}

/* Animation keyframes */
@keyframes underlineExpand {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(.8);
  }
}

.home-grid {
  background-color: #19382A;
  background-image: url('images/lightbulb blueback.jpg') !important;
  background-size: cover;
  /* fallback for old browsers */
  /* background-image: linear-gradient(to left, rgba(198, 66, 110, 0.7), rgba(221,214,243, 0.7)), url(images/white-ceramic-cup-on-saucer-near-gold-colored-analog-watch-1251086.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 105vh;
  margin-top: -10vh;
  padding-top: 10rem;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.home-grid__content {
  width: 60%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4rem;
}

.captions {
  text-align: left;
  color: white;
  padding-top: 1rem;
  text-transform: none;
  padding-bottom: 4rem;
  margin: auto;
}

/* @keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}*/

.main-caption {
  width: 100%;
  /* font-size: 8rem; */
  /* font-family: 'Segoe UI', sans-serif !important; */
  /* font-family: 'Open Sans', sans-serif !important; */
  /* display: block; */
  font-weight: 400;
  letter-spacing: .01rem;
  text-align: left;
  line-height: 0.8 !important;
  /* animation-name: fadeIn;
  animation-duration: 1.5s; */
  /* animation-timing-function: ease-out; */

}

@keyframes typing {
  from {
    width: 0;
    /* Start with 0 width */
  }

  to {
    width: 100%;
    /* Reach 100% width at the end of the animation */
  }
}

@keyframes blink-caret {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.main-caption__top {
  display: inline-block;
  font-size: 1.5rem;
  padding-bottom: .3rem;
  margin-bottom: .6rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.1em solid white;
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end 2;
  animation-fill-mode: forwards;
}

.main-caption__bottom {
  margin-bottom: .6rem;
  font-size: 2rem;
  font-weight: 400;
}

.main-caption__bottom span {
  background: none;
}

.sub-caption {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  letter-spacing: .05rem;
}

.sub-caption h4 {
  font-weight: 400;
  letter-spacing: .01rem;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.animated-paragraph {
  font-weight: 600;
  margin-top: .5rem;
}

.animated-paragraph p {
  /* width: 0; */
  font-size: 5rem;
  line-height: 1;
}

.animated-paragraph__p1 {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  /* animation: typing 3s steps(40, end) 3s, blink-caret 0.75s step-end infinite 3s;
  animation-fill-mode: forwards; */
}

.animated-paragraph__p2 {
  /* animation: typing 3s steps(40, end) 5.2s, blink-caret 0.75s step-end infinite 5.2s;
  animation-fill-mode: forwards; */
}

.social-links {
  /* width: 50%; */
  text-align: left;
  margin-bottom: 1rem;
}

.social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: 530;
  text-align: center;
  border: solid white 2.5px;
  border-radius: 4.5rem;
  text-decoration: none !important;
  padding: .7rem 2rem;
  margin: auto;
}

.social-links a:hover {
  transform: scale(1.01) !important;
  /* box-shadow: 0 3px 3px rgba(219,112,147,.4) !important; */
  background: white;
  color: #060E0B;
  font-weight: 600;
}


/*------------------------------------ RESUME -------------------------------------*/
.resume-right-col {
  background: #27221f;
  color: white;
  margin-top: 0px;
  padding: 2em 1em;
  text-align: left;
}

#resume-page {
  margin: 0 auto;
  text-align: left;
  max-width: 65rem;
  width: 100vw;
  padding: 2rem;
}

#resume-page h1,
h2 {
  text-align: center;
}

.resume-page__heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #060E0B;
}

.resume-page__content {
  margin: 0 auto !important;
}

.resume-section {
  max-width: 65rem;
  background: #0C1D17;
  color: white;
  margin: 1rem auto;
  padding: 2rem 1rem;
  border-radius: .5rem;
  box-shadow: 0 .6rem .7rem rgba(0, 0, 0, 0.2);
}

.resume-section-1 {
  text-align: center;
}

.resume-section-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.resume-section-5__item {
  border: 2px white solid;
  border-radius: .5rem;
  margin: .3rem;
}

.resume-section-5__item:hover {
  font-weight: 350;
}

.language:hover {
  background: white;
  color: #060E0B;
}

.frontend-tech:hover {
  background: rgb(163, 196, 235);
  color: #060E0B;
}

.backend-and-databases:hover {
  background: rgb(203, 198, 252);
  color: #060E0B;
}

.tools-and-platforms:hover {
  background: rgb(247, 192, 230);
  color: #060E0B;
}

.skill-row {
  /* margin-bottom: 10px; */
}

.skill-text {
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
}

.experience-row {
  margin-bottom: 1.5rem;
}

.bulletList {
  padding: 0rem 1rem;
}


/**-----------------------------Projects Page-----------------------------**/
.project-page {
  margin: 0 auto;
  width: 100vw;
  max-width: 65rem;
  min-height: 100vh;
  /* background: #007bff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #19382A;
}

.project {
  display: block;
  /* display: flex; */
  /* flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  box-shadow: 0 .6rem 1rem rgba(0, 0, 0, 0.2);
  width: 25vw;
  max-width: 65rem;
  transition: transform .3s;
  margin-bottom: 7%;
  padding: 2rem 0;
}

.project-page__heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #060E0B;
}

.project:hover {
  box-shadow: 0rem .6rem 1rem rgba(0, 0, 0, 0.4);
  transform: translateY(-.1rem);
}

.card-img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.card-text {
  /* padding: .5rem; */
  width: 90%;
  margin: 0 auto;
}

.card-title {
  font-size: 1.5rem;
  /* margin-bottom: 1rem; */
}

.card-description {
  margin: 1rem auto;
  /* width: 90%; */
}

.card-link-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 4.5rem;
  padding: .6rem 1.8rem;
  color: #19382A;
  border: solid #19382A 2.5px;
  font-size: 1rem !important;
  font-weight: 350;
  margin: .5rem auto;
  width: 30%;

}

.project-page__cards a {
  text-decoration: none !important;
}

.card-link-btn:hover {
  background: #19382A;
  transform: scaleX(1.01);
  border: solid #19382A 2.5px;
  color: white;

}

/*--------------------------- CONTACT PAGE css ---------------------------*/


/* .contact__div{
  
  color:#6f430a;
  font-size: 2.1rem;
  line-height: 1.1;
  justify-content: center;
  align-items: center;
  background-color: #DFC8B3;
  background-image: url('img/citrus-delicious-food-35063.jpg');
  background-size: cover;
  background-blend-mode: multiply;
} */

/* .contact__div p{
  font-size: 1rem;
  font: bold;
}

.contact__div--body{
  margin: auto;
  height: 100%;
  padding: 3%;
  position: relative;
  display: block;
  box-shadow:  0rem .6rem 0rem rgba(0, 0, 0, 0.2);
} */

.text-center {
  flex-direction: column;
  align-items: center;
}



.alt-login {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
}

.alt-login div {
  width: 47.5%;
  height: 90%;
  border-radius: 0.25em;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* .facebook {background-image: url("../icons/facebook.png");} */



/*-------------------------- NEW CONTACT PAGE CSS ------------------------*/

.contact-page {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  background-image: url(images/lightbulb blueback.jpg);
  background-color: (rgba(12, 29, 23, 0.9));
  background-size: cover;
  padding: 4.5rem 1rem;
  padding: 2rem;
  /* background-color: rgb(207, 151, 247); */

  /* max-width: 65rem; */
}

.u-center-text {
  text-align: center;
  background-color: #fff;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}

.contact-page__heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #ffffff;
  -webkit-background-clip: text;
  /* color: transparent; */
  /* padding: 2rem; */
  /* border: 2px solid rgba(100,43,115, 0.7); */
  /* border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(255, 112, 4, 0.1); */
  transition-property: all .2s;
}

.contact-page__content {
  margin: 2rem auto;
  /* position: relative; */

}

/* .contact-img {
  object-fit: cover;
  height: 20rem;
  z-index: -1;
} */

/* .contact-page__box {
    position: relative;
    display: inline-block;
    padding-left: 6rem;
    margin-bottom: 2rem;
} */

.contact__form {
  margin: auto;
  max-width: 65rem !important;
  /* position: relative;
  top: 7rem;
  right: 10rem; */
  padding: 2rem 2rem 0rem 2rem;
  border: .13rem solid #FFFFFF;
  border-radius: .2rem;
  box-shadow: 0rem .6rem .9rem rgba(0, 0, 0, 0.2);
  width: 30%;
  color: #FFFFFF;
  text-align: center;
}

.form__input {
  /* border: 1.5px solid black; */
  background-color: white;
  opacity: 0.8;
  /* width: 250px; */
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
}

.form__input--name {
  display: inline-block;
  width: 48% !important;
}

.form__input--firstname {
  margin: 0 2% 2% 0;
}

.form__input--lastname {
  margin: 0 0 2% 2%;
}

.form__input--email {
  display: block;
  width: 100%;
  margin-bottom: 2%;
}

.form__input--message {
  display: block;
  margin: 0 auto 20px auto;
  height: 10rem;
  width: 100% !important;
}

input {
  border: none;
  width: 80%;
  /* border-radius: 0.25em; */
  text-align: center;
  padding: 2em;
  font-size: 0.75em;
}

input:focus {
  outline-color: #0C1D17;
}

.submit__btn {
  margin: 1rem auto;
  /* background-color: #FFFFFF; */
  background: none !important;
  transition: 0.5s;
  border-radius: 4.5rem;
  text-align: center;
  border: solid white 2.5px;
  border-radius: 4.5rem;
  text-decoration: none !important;
  padding: .7rem 2.2rem;
  cursor: pointer;
  font-size: 1rem;
  color: #FFFFFF !important;
  /* padding: 1.6% 7%; */
  text-align: center;
}

.submit__btn:hover {
  transform: scale(1.01);
  background-color: white !important;
  opacity: 1 !important;
  font-weight: 600;
  color: #060E0B !important;
}



/*-------------------------- RESPONSIVENESS ------------------------*/

@media (max-width:860px) {

  .main-caption__top {
    display: inline-block;
    font-size: 1.5rem;
    padding-bottom: .3rem;
    margin-bottom: .6rem;
    font-weight: 400;
    line-height: 1.4;
    overflow: hidden;
    white-space: wrap;
    /* border-right: 0.1em solid white;
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end 2;
    animation-fill-mode: forwards; */
  }

  .home-grid__content {
    width: 70%;
  }

  .project {
    width: 35vw;
    margin-bottom: 7%;
    padding: 2rem 0;
  }

}

@media (max-width:789px) {
  h1 {
    font: 1rem sans-serif;
  }
}